<template>
    <div v-if="this.$store.state.token === ''">
        <div v-bind:key="product.id" v-for="product in product_data">
            <div class="child">
                <h3 class="name">{{product.name}}</h3>
                <h4 class="desc">{{product.desc}}</h4>
                <h4 class="price">Price: {{product.price}} $</h4>
                <div v-if="parseInt(product.quantity) === 0">
                    <button class="button-disabled"><span class="dd">Buy Now</span></button>
                    <button class="button2-disabled"><span class="dd">Add Cart</span></button>
                </div>
                <div v-else>
                    <button class="button" @click="handleLotLoggedin"><span>Buy Now</span></button>
                    <button class="button2" @click="handleLotLoggedin"><span>Add Cart</span></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'home',
    data() {
        return {
            product_data: [],
        }
    },
    async created() {
        let response = await axios.get(process.env.VUE_APP_API_URL+'/products')
        this.product_data = await response.data.map(product => {
            return {
                id: product.product_id,
                name: product.product_name,
                desc: product.product_description,
                price: product.product_price,
                quantity: product.product_quantity
            }
        })
    },
    methods: {
        handleLotLoggedin() {
            alert('Please login first.')
            this.$router.push('/login')
        }
    }
}
</script>

<style scoped>
    @import url("https://fonts.googleapis.com/css?family=Montserrat");
    .child {
        width: 32.6%;
        float: left;
        padding: 10px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 5px;
        background: rgba(23,162,184,255);
        border-radius: 10px;
    } 
    .name, .desc, .price {
        font-family: "montserrat";
    }
    .name{
        font-weight: 900;
        font-size: 1.8em;
        color: black;
    }
    .desc{
        font-weight: 500;
        font-size: 1.3em;
        color: white;
    }
    .price{
        
        font-weight: 700;
        font-size: 1em;
        color: red;
    }
    .button-disabled, .dd{
        cursor: not-allowed;
    }
    .button2-disabled{
        cursor: not-allowed;
        background-color: #ffd000;
    }
    button{
        border-radius: 40px;
        background-color: #00ff0d;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button {
        border-radius: 40px;
        background-color: #00ff0d;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    button span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    button:hover span {
        padding-right: 25px;
    }

    button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .button2 {
        border-radius: 40px;
        background-color: #ffd000;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
</style>