<template>
  <div>
    <div class="left">
      <h1 class="logo">SHOPPER</h1>
      <img class="logoimage" src="../assets/img2.png" alt="cart image" /><br />
    </div>
    <div class="right">
      <form @submit.prevent="handleLogin">
        <h1>Login Form</h1>
        <input type="email" placeholder="Email" v-model="email" class="email" required />
        <input type="password" placeholder="Password" v-model="password" class="password" required/><br />
        <button type="submit" class="button"><span>Login </span></button>
      </form>
      <br><p>Not registered? <a @click="notMember">Click here.</a></p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "login",
  data() {
      return {
          email: '',
          password: ''
      }
  },
  methods: {
    async handleLogin() {
      let response = await axios.post(process.env.VUE_APP_API_URL+"/user/login", {
        email: this.email,
        password: this.password,
      });
      if (response.data.status === 200){
          this.$store.state.token = response.data.message
          this.$store.state.user_role = 'USER'
          alert("login successfull.".split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' '))
          this.$router.push('/home')
      }
      else {
          alert(response.data.message.split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' '))
      }
    },
    notMember() {
      this.$router.push('/register')
    }
  },
};
</script>


<style scoped>
.right {
  display: inline-block;
  height: max-content;
  width: 45%;
  margin-left: 10px;
}
.left {
  display: inline-block;
  height: max-content;
  width: 45%;
  transform: translateY(-50px);
  margin-left: 10px;
}
.logoimage {
  width: 90%;
  height: 90%;
  margin-top: -50px;
}
form {
  margin-top: 130px;
}
.logo {
  font-size: 5em;
}
.email {
  width: 70%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  margin: 10px;
  border: none;
  border-radius: 40px;
  padding: 5px;
  text-align: center;
}
.password {
  width: 70%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  margin: 10px;
  border: none;
  border-radius: 40px;
  padding: 5px;
  text-align: center;
}
a{
  cursor: pointer;
}
.button {
  border-radius: 40px;
  background-color: #00ff0d;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>