<template>
    <div v-if="this.$store.state.token === ''">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">SHOPPER</b-navbar-brand>

        <b-collapse id="nav-collapse" is-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                <template #button-content>
                    <em>Sign in</em>
                </template>
                <b-dropdown-item @click.prevent="handleSigninUser">USER</b-dropdown-item>
                <b-dropdown-item @click.prevent="handleSigninSeller">SELLER</b-dropdown-item>
            </b-nav-item-dropdown>
            </b-navbar-nav>
        </b-collapse>
        </b-navbar>
    </div>
    <div v-else-if="this.$store.state.user_role === 'USER' || this.$store.state.user_role === ''">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">SHOPPER</b-navbar-brand>

        <b-collapse id="nav-collapse" is-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
            <b-nav-form>
                <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button
                >
            </b-nav-form>
            <b-nav-item-dropdown right>
                <template #button-content>
                    <em>Operation</em>
                </template>
                <b-dropdown-item @click.prevent="handleHome">Home</b-dropdown-item>
                <b-dropdown-item @click.prevent="handleViewCart">View Cart</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                <template #button-content>
                    <em>User</em>
                </template>
                <b-dropdown-item @click.prevent="handleSignOutUser">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
            </b-navbar-nav>
        </b-collapse>
        </b-navbar>
    </div>
    <div v-else-if="this.$store.state.user_role === 'SELLER'">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">SHOPPER</b-navbar-brand>

        <b-collapse id="nav-collapse" is-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
                <template #button-content>
                    <em>Operation</em>
                </template>
                <b-dropdown-item @click.prevent="handleAddNewProductPage">Add New Product</b-dropdown-item>
                <b-dropdown-item @click.prevent="handleUpdateProductPage">Update Product</b-dropdown-item>
                <b-dropdown-item @click.prevent="handleDeleteProductPage">Delete Product</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item-dropdown right>
                <template #button-content>
                    <em>Seller</em>
                </template>
                <b-dropdown-item @click.prevent="handleSignOutSeller">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
            </b-navbar-nav>
        </b-collapse>
        </b-navbar>
    </div>
</template>



<script>
export default {
    name: 'navbar',
    methods: {
        handleSigninUser() {
            this.$router.push('/login')
        },
        handleSigninSeller() {
            this.$router.push('/seller/login')
        },
        handleSignOutSeller() {
            this.$store.state.token = '',
            this.$store.state.user_role = '',
            this.$router.push('/seller/login')
        },
        handleSignOutUser() {
            this.$store.state.token = '',
            this.$store.state.user_role = '',
            this.$router.push('/login')
        },
        handleAddNewProductPage() {
            this.$router.push('/seller/home')
        },
        handleUpdateProductPage() {
            this.$router.push('/seller/update_product')
        },
        handleDeleteProductPage() {
            this.$router.push('/seller/delete_product')
        },
        handleViewCart() {
            this.$router.push('/view_cart')
        },
        handleHome() {
            this.$router.push('/home')
        }
    }
}
</script>

<style lang="scss">
  @import "~@/assets/scss/vendors/bootstrap-vue/index";
</style>