<template>
    <div class="container">
        <div class="child">
            <h1 class="title">SHOPPER</h1>
            <img class="logo" src="../assets/img2.png" alt="CartImage">
        </div>
        <div class="child">
            <h1 class="form-title">Add new product form</h1>
            <form @submit.prevent="handleAddNewProduct">
                <input type="text" class="add-product-input" v-model="name" placeholder="Product name">
                <textarea class="add-product-input" cols="23" rows="3" maxlength="255" v-model="desc" placeholder="Product description"></textarea>
                <input type="text" class="add-product-input" v-model="price" placeholder="Product price">
                <input type="text" class="add-product-input" v-model="quantity" placeholder="Quantity available">
                <button class="button"><span>ADD PRODUCT</span></button>
            </form>
        </div>
    </div>
</template>


<script>
import axios from 'axios'
export default {
    name: 'sellerHome',
    data() {
        return {
            name: "",
            desc: "",
            price: "",
            quantity: ""
        }
    },
    methods: {
        async handleAddNewProduct() {
            let axiosConfig = {
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8',
                    'authorization': this.$store.state.token,
                    "Access-Control-Allow-Origin": "*"
                }
            };
            let response = await axios.post(process.env.VUE_APP_API_URL+"/seller/product/add_new_product", {
                name: this.name,
                desc: this.desc,
                price: this.price,
                quantity: this.quantity
            }, axiosConfig)
            if (response.data.status === 200){
                alert(response.data.message)
            }
            this.name = this.desc = this.price = this.quantity = ''
        }
    }
}
</script>

<style scoped>
    @import url("https://fonts.googleapis.com/css?family=Montserrat");
    .container {
        padding: 20px;
    }

    .child {
        width: 50%;
        float: left;
        padding: 20px;
        text-align: center;
    }  
    .title{
        font-family: "montserrat";
        font-weight: 900;
        font-size: 5em;
    }
    .logo{
        margin-left: 0px;
        width: 85%;
        height: 85%;
    }
    .button {
        border-radius: 40px;
        background-color: #00ff0d;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 300px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .add-product-input{
        font-family: "montserrat";
        font-weight: 900;
        font-size: 1.8em;
        margin-top: 10px;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    .form-title{
        font-family: "montserrat";
        font-weight: 900;
        text-transform: uppercase;
    }
</style>