<template>
  <div>
    <div class="popup" v-if="showModal">
      <h1 class="popuph1">Enter the otp.</h1>
      <h1 class="popuph1">Sent to {{this.email}}</h1>
      <form @submit.prevent="handleOtp">
        <input type="text" class="popupTest" v-model="otp" placeholder="otp" /><br />
        <button type="submit" class="button2">VERIFY</button>
      </form>
    </div>
    <div v-else>
      <div class="left">
        <h1 class="logo">SHOPPER</h1>
        <img class="logoimage" src="../assets/img2.png" alt="cart image" /><br />
      </div>
      <div class="right">
        <form @submit.prevent="handleRegister">
          <h1>Seller Registration Form</h1>
          <input type="text" placeholder="Fullname" v-model="name" class="email" required/>
          <input type="email" placeholder="Email" v-model="email" class="email" required/>
          <input type="password" placeholder="Password" v-model="password" class="password" required/>
          <input type="password" placeholder="Confirm Password" v-model="cpassword" class="password" required/><br>
          <button type="submit" class="button"><span>Register </span></button>
        </form>
        <br><p>Already registered? <a @click="alreadyMember">Click here.</a></p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "register",
  data() {
    return {
      name: "",
      email: "",
      password: "",
      cpassword: "",
      otp: "",
      showModal: false
    };
  },
  methods: {
    async handleRegister() {
      if (this.password === this.cpassword){
        let response = await axios.post(process.env.VUE_APP_API_URL+"/seller/register", {
          fullname: this.name,
          email: this.email,
          password: this.password,
          role: 'SELLER'
        });
        if (response.data.status === 200){
            alert("Otp Sent.".split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' '))
            this.showModal = true
        }
        else {
            alert(response.data.message.split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' '))
        }
      }
    },
    async handleOtp() {
      this.showModal = false
      let response = await axios.post(process.env.VUE_APP_API_URL+"/seller/registration/otpVerification", {
        email: this.email,
        otp: this.otp
      })
      if (response.data.status === 200){
        alert(response.data.message.split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' '))
      }
      else{
        alert(response.data.message.split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' '))
      }
    },
    alreadyMember() {
      this.$router.push('/seller/login')
    }
  },
};
</script>


<style scoped>
.right {
  display: inline-block;
  height: max-content;
  width: 45%;
  margin-left: 10px;
  transform: translateY(100px);
}
.left {
  display: inline-block;
  height: max-content;
  width: 45%;
  margin-left: 10px;
}
a{
  cursor: pointer;
}
.logoimage {
  width: 100%;
  height: 100%;
  margin-top: -50px;
}
.logoimage:after {
  width: 80%;
  transition: 1.5s;
}
form {
  margin-top: 130px;
}
.logo {
  font-size: 7em;
}
.email {
  width: 70%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  margin: 10px;
  border: none;
  border-radius: 40px;
  padding: 5px;
  text-align: center;
}
.password {
  width: 70%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  margin: 10px;
  border: none;
  border-radius: 40px;
  padding: 5px;
  text-align: center;
}
.button {
  border-radius: 40px;
  background-color: #00ff0d;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.popup {
  position: fixed;
  height: max-content;
  width: max-content;
  margin-top: 20%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(23,162,184,255);
  padding: 50px;
}
.popuph1 {
  font-family: "montserrat";
  font-weight: 900;
  color: white;
}
form{
  margin-top: 0px;
}

.popupTest {
  font-family: "montserrat";
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 10px;
  text-align: center;
  color: red;
}
.button2 {
  background-image: linear-gradient(to right, #ff5100, #ffb898);
  height: max-content;
  font-family: "montserrat";
  font-weight: 900;
  font-size: 1.5em;
  color: white;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
</style>