<template>
    <div v-if="enable" class="popup">
        <h1 class="title">Are you sure?</h1>
        <br><button @click.prevent="handleDelete" class="button">YES</button>
        <button @click.prevent="cancel">NO</button>
    </div>
    <div v-else>
        <h1 class="title">Product delete page</h1>
        <table>
            <tr>
                <th class="id">ID</th>
                <th class="name">Name</th>
                <th class="price">Price</th>
                <th class="quantity">Quantity</th>
                <th class="operation">Operation</th>
            </tr>
            <tr v-bind:key="product.id" v-for="product in product_data">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td>
                    <button @click.prevent="deleteProd(product.id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'home',
    data() {
        return {
            product_data: [],
            enable: false,
            product_id: 0
        }
    },
    async created() {
        this.enable = false
        await this.load()
    },
    methods: {
        async load() {
            let axiosConfig = {
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8',
                    'authorization': this.$store.state.token,
                    "Access-Control-Allow-Origin": "*"
                }
            };
            let response = await axios.get(process.env.VUE_APP_API_URL+'/seller/product/get_products',axiosConfig)
            this.product_data = await response.data.map(product => {
                return {
                    id: product.product_id,
                    name: product.product_name,
                    desc: product.product_description,
                    price: product.product_price,
                    quantity: product.product_quantity
                }
            })
        },
        deleteProd(id) {
            this.product_id = id
            this.enable = true
        },
        async handleDelete() {
            let axiosConfig = {
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8',
                    'authorization': this.$store.state.token,
                    "Access-Control-Allow-Origin": "*"
                }
            };
            let response = await axios.post(process.env.VUE_APP_API_URL+'/seller/product/delete_product',{
                product_id: this.product_id
            },axiosConfig)
            if (response.data.status === 200){
                alert(response.data.message)
                this.enable = false
                this.load()
            }
        },
        cancel() {
            this.enable = false
            this.load()
        }
    }
}
</script>

<style scoped>
    @import url("https://fonts.googleapis.com/css?family=Montserrat");
    table{
        width: 100%;
    }
    td{
        font-family: "montserrat";
    }
    .title{
        text-transform: uppercase;
    }
    .id{
        width: 5%;
        font-family: "montserrat";
        background: rgb(171, 217, 255);
        margin: 5px;
    }
    .name{
        width: 55%;
        font-family: "montserrat";
        background: rgb(255, 171, 171);
        margin: 5px;
    }
    .price{
        width: 10%;
        font-family: "montserrat";
        background: rgb(249, 255, 171);
        margin: 5px;
    }
    .quantity{
        width: 10%;
        font-family: "montserrat";
        background: rgb(185, 255, 171);
        margin: 5px;
    }
    .operation{
        width: 20%;
        font-family: "montserrat";
        color: white;
        background: rgb(0, 0, 0);
        margin: 5px;
    }
    input[type=text] {
        width: 90%;
        font-family: "montserrat";
        border-radius: 10px;
        margin-top: 10px;
        padding: 5px;
    }
    .popup{
        height: max-content;
        width: max-content;
        background: rgba(23,162,184,255);
        border-radius: 10px;
        margin-top: 15%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }

    button{
        border-radius: 40px;
        background-image: linear-gradient(to right, #00ff0d, #eeff00);
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
    .button{
        
        border-radius: 40px;
        background-image: linear-gradient(to right, #ff0000, #ff5e00);
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
</style>