<template>
    <div v-if="enable" class="popup">
        <form @submit.prevent="handleUpdate">
            <h1 class="title">Product ID: {{product_update.product_id}}</h1>
            <input type="text" v-model="product_update.product_name">
            <input type="text" v-model="product_update.product_description">
            <input type="text" v-model="product_update.product_price">
            <input type="text" v-model="product_update.product_quantity">
            <br><input class="button" type="submit" value="UPDATE">
        </form>
    </div>
    <div v-else>
        <h1 class="title">Product update page</h1>
        <table>
            <tr>
                <th class="id">ID</th>
                <th class="name">Name</th>
                <th class="price">Price</th>
                <th class="quantity">Quantity</th>
                <th class="operation">Operation</th>
            </tr>
            <tr v-bind:key="product.id" v-for="product in product_data">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td>
                    <button @click.prevent="update(product.id, product.name, product.desc, product.price, product.quantity)">Update</button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'home',
    data() {
        return {
            product_data: [],
            enable: false,
            product_update: {
                product_name: '',
                product_id: '',
                product_description: '',
                product_price: '',
                product_quantity: ''
            }
        }
    },
    async created() {
        this.enable = false
        await this.load()
    },
    methods: {
        async load() {
            let axiosConfig = {
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8',
                    'authorization': this.$store.state.token,
                    "Access-Control-Allow-Origin": "*"
                }
            };
            let response = await axios.get(process.env.VUE_APP_API_URL+'/seller/product/get_products',axiosConfig)
            this.product_data = await response.data.map(product => {
                return {
                    id: product.product_id,
                    name: product.product_name,
                    desc: product.product_description,
                    price: product.product_price,
                    quantity: product.product_quantity
                }
            })
        },
        update(id,name,desc,price,quan) {
            this.product_update.product_name = name
            this.product_update.product_id = id
            this.product_update.product_description = desc
            this.product_update.product_price = price
            this.product_update.product_quantity = quan
            this.enable = true
        },
        async handleUpdate() {
            let axiosConfig = {
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8',
                    'authorization': this.$store.state.token,
                    "Access-Control-Allow-Origin": "*"
                }
            };
            let response = await axios.post(process.env.VUE_APP_API_URL+'/seller/product/update_product',{
                id: this.product_update.product_id,
                name: this.product_update.product_name,
                desc: this.product_update.product_description,
                price: this.product_update.product_price,
                quantity: this.product_update.product_quantity
            },axiosConfig)
            if (response.data.status === 200){
                alert(response.data.message)
                this.product_update.product_name = ''
                this.product_update.product_id = ''
                this.product_update.product_description = ''
                this.product_update.product_price = ''
                this.product_update.product_quantity = ''
                this.enable = false
                this.load()
            }
        }
    }
}
</script>

<style scoped>
    @import url("https://fonts.googleapis.com/css?family=Montserrat");
    table{
        width: 100%;
    }
    .title{
        text-transform: uppercase;
    }
    .id{
        width: 5%;
        font-family: "montserrat";
        background: rgb(171, 217, 255);
        margin: 5px;
    }
    .name{
        width: 55%;
        font-family: "montserrat";
        background: rgb(255, 171, 171);
        margin: 5px;
    }
    .price{
        width: 10%;
        font-family: "montserrat";
        background: rgb(249, 255, 171);
        margin: 5px;
    }
    .quantity{
        width: 10%;
        font-family: "montserrat";
        background: rgb(185, 255, 171);
        margin: 5px;
    }
    .operation{
        width: 20%;
        font-family: "montserrat";
        color: white;
        background: rgb(0, 0, 0);
        margin: 5px;
    }
    input[type=text] {
        width: 90%;
        font-family: "montserrat";
        border-radius: 10px;
        margin-top: 10px;
        padding: 5px;
    }
    .popup{
        height: max-content;
        width: max-content;
        background: rgba(23,162,184,255);
        border-radius: 10px;
        margin-top: 15%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }
    
    td{
        font-family: "montserrat";
    }

    .button, button{
        border-radius: 40px;
        background-image: linear-gradient(to right, #00ff0d, #eeff00);
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
</style>