<template>
    <div v-if="this.$store.state.token != ''">
        <div v-if="enable" class="popup">
            <form @submit.prevent="handleUpdate">
                <h1 class="title">Product ID: {{product_update.product_id}}</h1>
                <input type="text" v-model="product_update.product_name">
                <input type="text" v-model="product_update.product_description">
                <input type="text" v-model="product_update.product_price">
                <input type="text" v-model="product_update.product_quantity">
                <br><input class="button" type="submit" value="UPDATE">
            </form>
        </div>
        <div v-else>
            <div v-bind:key="product.id" v-for="product in product_data">
            <div class="child">
                <h3 class="name">{{product.name}}</h3>
                <h4 class="desc">{{product.desc}}</h4>
                <h4 class="price">Price: {{product.price}} $</h4>
                <div v-if="parseInt(product.quantity) === 0">
                    <h4 class="ntavl">Not available</h4>
                </div>
                <div v-else>
                    <button class="button"><span>Buy Now</span></button>
                    <button class="button2" @click.prevent="handleAddCart(product.id)"><span>Add to Cart</span></button>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'home',
    data() {
        return {
            product_data: [],
            enable: false
        }
    },
    async created() {
        let response = await axios.get(process.env.VUE_APP_API_URL+'/products')
        this.product_data = await response.data.map(product => {
            return {
                id: product.product_id,
                name: product.product_name,
                desc: product.product_description,
                price: product.product_price,
                quantity: product.product_quantity
            }
        })
    },
    methods: {
        async handleAddCart(id) {
            let axiosConfig = {
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8',
                    'authorization': this.$store.state.token,
                    "Access-Control-Allow-Origin": "*"
                }
            };
            let response = await axios.post(process.env.VUE_APP_API_URL+'/user/product/add_to_cart',{
                product_id: id
            }, axiosConfig)
            if (response.data.status === 200){
                alert(response.data.message)
            }
            else {
                alert(response.data.message)
            }
        }
    }
}
</script>

<style scoped>
    @import url("https://fonts.googleapis.com/css?family=Montserrat");
    .ntavl{
        font-family: "montserrat";
        font-weight: 900;
        font-size: 1.8em;
        color: red;
    }
    .child {
        width: 32.6%;
        float: left;
        padding: 10px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 5px;
        background: rgba(23,162,184,255);
        border-radius: 10px;
    } 
    .name, .desc, .price {
        font-family: "montserrat";
    }
    .name{
        font-weight: 900;
        font-size: 1.8em;
        color: black;
    }
    .desc{
        font-weight: 500;
        font-size: 1.3em;
        color: white;
    }
    .price{
        
        font-weight: 700;
        font-size: 1em;
        color: red;
    }
    .button-disabled, .dd{
        cursor: not-allowed;
    }
    .button2-disabled{
        cursor: not-allowed;
        background-color: #ffd000;
    }
    button{
        border-radius: 40px;
        background-color: #00ff0d;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button {
        border-radius: 40px;
        background-color: #00ff0d;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    button span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    button:hover span {
        padding-right: 25px;
    }

    button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .button2 {
        border-radius: 40px;
        background-color: #ffd000;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
</style>